!!! 5
%html
    %head
        %title
        %meta(author = "Hubert Grzywacz")

        %link(rel = "stylesheet" href = "style.css")

    %body
        .container
            .progress-bar#progress-bar

    %script(src = "http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    %script(src = "script.js")
